flows/Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "107034bd-1ac2-40fb-8fa5-b4e0b54c9b19",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        384,
        1376
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3186e84e-e8bb-4d3c-851a-98153cd6c06c",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        160,
        1376
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Catch incoming messages').item.json.message.chat.id }}",
        "text": "Sorry, voice input is not supported.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d232b651-7655-47f6-9c73-8a2dd08f98c8",
      "name": "Reply - Voice not supported",
      "type": "n8n-nodes-base.telegram",
      "position": [
        736,
        1040
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "7BJCOrEmLPpUdNhg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "669c4782-230c-4def-ba53-c4d15cf3c1d2",
      "name": "Catch incoming messages",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -64,
        1376
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "7BJCOrEmLPpUdNhg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Catch incoming messages').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "dcef51f4-fe7c-43f5-ba52-38f0a49478c3",
      "name": "Reply to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1456,
        1488
      ],
      "webhookId": "e699405e-8e52-4d38-a06b-1fa8edf050bd",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "7BJCOrEmLPpUdNhg",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('If').item.json.message.text }}",
        "rules": {
          "rules": [
            {
              "operation": "notStartsWith",
              "value2": "/",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "143e32b3-b737-4aa4-aeb7-458b7605fbb2",
      "name": "Command Handler",
      "type": "n8n-nodes-base.switch",
      "position": [
        736,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Catch incoming messages').item.json.message.chat.id }}",
        "text": "Please enter a recognized command or simply type a message.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "7f9a1777-d814-4bf3-b244-b28eebc17845",
      "name": "Reply - Unrecognized command",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1008,
        1312
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "7BJCOrEmLPpUdNhg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "=typing"
      },
      "id": "51dc41ae-eada-4da8-8a9a-8abaf9b097a7",
      "name": "Send typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1008,
        1136
      ],
      "typeVersion": 1,
      "webhookId": "c83b2867-0fe3-4a30-ab40-904bb2efd92c",
      "credentials": {
        "telegramApi": {
          "id": "7BJCOrEmLPpUdNhg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Catch incoming messages').item.json.message.chat.id }}",
        "text": "Hello! I am Nightmare.\n\nAvailable commands:\n/target - Begin an automated reconnaissance campaign against a target",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "4f66501e-1038-42c7-864d-fc0c5a2e5f1c",
      "name": "Reply - /start",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1168,
        1680
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "7BJCOrEmLPpUdNhg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dvJv0YVTZ2Lc7hhO",
          "mode": "list",
          "cachedResultUrl": "/workflow/dvJv0YVTZ2Lc7hhO",
          "cachedResultName": "Recon"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        1488
      ],
      "id": "baaa3d9c-e405-473f-8247-fb207a837573",
      "name": "Call 'Recon'"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Reply - Voice not supported",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Command Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catch incoming messages": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send typing action": {
      "main": [
        [
          {
            "node": "Reply to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Handler": {
      "main": [
        [
          {
            "node": "Reply - Unrecognized command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Recon'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply - /start",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call 'Recon'": {
      "main": [
        [
          {
            "node": "Reply to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "0fabc4e7-8b94-4d2d-9bc2-256db15ac9d4",
  "meta": {
    "templateId": "1934",
    "templateCredsSetupCompleted": true,
    "instanceId": "c2ba3ceb41b5de618d9507fffe398c4a2fa10bd56125b3f5f26140e161fb245e"
  },
  "id": "QcFTKW5cfX2GCotb",
  "tags": []
}